@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Plus Jakarta Sans';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none
}

@import url('./styles/global.css');